@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
}

:root {
    --body-color: #141E30;
    --font-color-white: #ffffff;
    --font-color-black: #000000;
    --main-color: #ffffff;
    --button-color: #00BEFA;
}

html {
    font-size: 10px;
}

body {
    min-width: 280px;
    padding: 3rem 1.2rem;
    background-color: var(--body-color);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--font-color-black);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.main {
    max-width: 280px;
    margin: 0 auto;
    padding: 5rem 4rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    text-align: center;
}

.mainLogo {
    width: 426px;
    height: auto;
    max-width: 70%;
    display: block;
    box-sizing: border-box;
    margin: 0 auto 4rem;
    border-radius: 0.5rem;
}

.mainTitle {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: bold;
    padding: 0 2rem;
}

.mainDescriptions {
    margin-bottom: 8rem;
    font-size: 1.2rem;
    padding: 0 2rem;
}

.installButton_topText,
.installButton_bottomText {
    font-size: 1rem;
}

.installButton {
    width: 100%;
    height: 5rem;
    display: block;
    margin: 1rem auto;
    background-color: var(--button-color);
    color: var(--font-color-white);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 5rem;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    .main {
        padding: 5rem 3rem;
    }
    .mainLogo {
        max-width: 80%;
    }
}